<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center mb-3">
    <div class="col-xl-6 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg mt-5 -mb-3">
        <div class="card-body p-0">
          <div class="p-5">
            <div class="text-center logo-img mb-3">
              <img src="../../../assets/image/Rekber Logo.png" />
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center text-white">
    Rekberin <i class="fas fa-copyright px-2"></i> 2021
  </div>
</div>
